@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Thin.eot');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-DemiItalic.eot');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-MediumItalic.eot');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('../fonts/AvenirNextCyr-UltraLight.eot');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Light.eot');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Bold.eot');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-LightItalic.eot');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-BoldItalic.eot');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('../fonts/AvenirNextCyr-UltraLightIt.eot');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Heavy.eot');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Demi.eot');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Regular.eot');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Medium.eot');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-HeavyItalic.eot');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Italic.eot');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-ThinItalic.eot');
    font-weight: 100;
    font-style: italic;
  }