@import "helpers/mixins.scss";
@import "helpers/responsive.scss";
@import "helpers/variables.scss";

body {
  background: white;
}

.ant-input-suffix {
  display: flex;
  align-items: center;
}

// CATEGORIES
#categories {
  padding-top: 70px;
  padding-bottom: 120px;

  .padding-bottom {
    padding-bottom: 60px;
  }

  .parent-category {
    a {
      font-size: dynamicfont(16, 18);
      color: $parentcolor;
      padding-left: 20px;
    }
    padding-bottom: 25px;
  }

  .sub-categories {
    ul {
      padding: 0px;
      list-style: none;
      li {
        &:first-child {
          padding-top: 0px;
        }
        padding-top: 10px;
        a {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            display: inline-block;
            width: 16px;
            content: "+";
            color: $maincolor;
          }
        }
        .active {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            display: inline-block;
            width: 16px;
            content: "‒";
            color: $maincolor;
            @include bold;
          }
        }
        span {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $countnumber;
          padding-left: 5px;
        }
      }
    }

    .sub-sub-categories {
      padding-left: 40px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      li {
        padding-top: 10px;
        list-style: none;
        a {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            content: "";
            width: 0px;
          }
        }
        span {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $countnumber;
          padding-left: 5px;
        }
      }
    }
  }
}

// VIP
#vip {
  #vip-top {
    background: url("../images/strap.png");
    background-size: cover;
    .vip-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      h1 {
        font-size: dynamicfont(24, 28);
        margin: 0px;
        padding: 20px;
        color: white;
        text-align: center;
        @include bold;
      }
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -19px;
      }
      a {
        color: #e3b8ee;
        font-size: dynamicfont(13, 15);
        @include regular;
      }
    }
  }
  .vip-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    .each {
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .img-part {
        position: relative;
        .vip-face {
          @include coverFaceWithSpan;
        }
        .vip-links {
          @include coverFaceLinks;
        }
      }
      h1 {
        margin: 0px;
        @include bold;
        font-size: dynamicfont(18, 20);
        color: $parentcolor;
      }
      p {
        margin: 0px;
        @include regular;
        font-size: dynamicfont(15, 17);
        color: $parentcolor;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .info-part {
        padding: 18px;
      }
    }
    button {
      color: $showmore;
      border-color: $showmore;
      padding: {
        left: 53px;
        right: 53px;
      }
      @include demi;
      font-size: dynamicfont(14, 16);
    }
  }
}

//TOP-VENDORS

#top-vendors {
  .top-vendor-top {
    background: url("../images/yellow.png");
    background-size: cover;
    .top-vendor-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      h1 {
        font-size: dynamicfont(24, 28);
        margin: 0px;
        padding: 20px;
        color: white;
        text-align: center;
        @include bold;
      }
      a {
        color: #e3b8ee;
        font-size: dynamicfont(13, 15);
        @include regular;
      }
    }
  }
  .top-vendor-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    .each {
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .img-part {
        position: relative;
        .top-face {
          @include coverFaceWithSpan;
        }
        .top-links {
          @include coverFaceLinks;
        }
      }
      h1 {
        margin: 0px;
        @include bold;
        font-size: dynamicfont(18, 20);
        color: $parentcolor;
      }
      p {
        margin: 0px;
        @include regular;
        font-size: dynamicfont(15, 17);
        color: $parentcolor;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .info-part {
        padding: 18px;
      }
    }
    button {
      color: $showmore;
      border-color: $showmore;
      padding: {
        left: 53px;
        right: 53px;
      }
      @include demi;
      font-size: dynamicfont(14, 16);
    }
  }
}
// INFO

#infosection {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
  background: #f8f8f8;
  .img-container {
    height: 85px;
  }
  h1 {
    margin-bottom: 18px;
    font-size: dynamicfont(16, 18);
    @include demi;
    color: $parentcolor;
  }
  p {
    font-size: dynamicfont(13, 15);
    @include regular;
    color: $parentcolor;
  }
}
//GET PHONE
#getphone {
  padding-top: 35px;
  h1 {
    font-size: dynamicfont(18, 20);
    color: $parentcolor;
    @include bold;
  }
}
//FOOTER
footer {
  padding-top: 42px !important;
  padding-bottom: 60px !important;
  background: $footerbg !important;
  p {
    color: #7e7f88;
    font-size: dynamicfont(14, 16);
    @include regular;

    &:nth-of-type(1) {
      margin-top: 24px;
    }
    margin-bottom: 0px;
  }
  h5 {
    font-size: dynamicfont(14, 16);
    @include bold;
    color: #7e7f88;
    margin-bottom: 30px;
  }
  ul {
    padding: 0px;
    list-style: none;
    li {
      a {
        font-size: dynamicfont(13, 15);
        @include regular;
        color: #7e7f88;
      }
      margin-bottom: 12px;
    }
  }
}

// TARIFFS

#tariffs {
  #contentbanner {
    background: url("../images/banner_tariffs.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      @include bold;
      font-size: dynamicfont(36, 44);
      color: white;
      padding-top: 100px;
      padding-bottom: 60px;
    }
    p {
      @include regular;
      font-size: dynamicfont(14, 16);
      color: white;
      padding-bottom: 35px;
    }
    button {
      @include bold;
      margin-bottom: 70px;
      font-size: dynamicfont(13, 15);
      // background: linear-gradient(to right, #fbad18, #f8991d);
    }
  }
  #carouseltype {
    margin-bottom: 100px;
    .one {
      .tariff-title {
        background: #7bdce2;
      }
    }
    .two {
      .tariff-title {
        background: $green;
      }
    }
    .three {
      .tariff-title {
        background: $warning;
      }
      button {
        background: $warning;
      }
    }

    .title {
      @include bold;
      font-size: dynamicfont(20, 28);
      color: $parentcolor;
      margin: {
        top: 75px;
        bottom: 60px;
      }
      text-align: center;
    }
    .tariff-info {
      border-radius: 6px;
      box-shadow: 4px 6px 15px 7px #ececec;
      .tariff-title {
        text-align: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 23px 0px;
        p {
          color: white;
          font-size: dynamicfont(9, 11);
          @include regular;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin-bottom: 0px;
        }
        h2 {
          font-size: dynamicfont(16, 18);
          @include bold;
          color: white;
        }
      }
      .tariff-rest {
        .img-part {
          margin-right: 35px;
        }
        .info-part {
          h1 {
            font-size: dynamicfont(13, 15);
            @include regular;
            color: $subcategory;
          }
        }
        padding: 25px;
      }
      .tariff-btn {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 15px;
      }
    }
  }
  #howworks {
    .top-up,
    .top-ad,
    .vip-ad {
      background: #f0f9fd;
      .title {
        text-align: center;
        h1 {
          margin-top: 80px;
          margin-bottom: 110px;
          font-size: dynamicfont(25, 28);
          color: $parentcolor;
          @include bold;
          text-align: center;
          display: inline-block;
        }
      }
      .img-side {
        img {
          margin-bottom: -133px;
          width: 100%;
        }
      }
      .text-side {
        h2 {
          @include demi;
          font-size: dynamicfont(17, 20);
          color: $primary;
        }
        p {
          font-size: dynamicfont(12, 15);
          color: $parentcolor;
          @include regular;
        }
        button {
          margin-top: 30px;
          @include regular;
        }
      }
    }
    .top-ad {
      background: white;
      img {
        margin-bottom: 0px !important;
      }
      .text-side {
        padding-left: 90px;
      }
    }
    .vip-ad {
      background: #f0f9fd;
      margin-bottom: 160px;
    }
  }
}

//SEARCH

#search {
  background: url("../images/longback.png");
  background-repeat: no-repeat;
  background-size: cover;
  .search-part {
    padding-top: 135px;
  }
  .bottom-part {
    margin-top: 15px;
    p {
      font-size: dynamicfont(10, 12);
      color: white;
      @include regular;
    }
    h1 {
      font-size: dynamicfont(12, 15);
      margin-bottom: 0px;
      color: white;
      @include regular;
    }
    button {
      padding-left: 50px;
      padding-right: 50px;
    }
    padding-bottom: 100px;
  }
}

//LOGIN

#login {
  background: #edebee;
  .login-wrapper {
    box-shadow: 0px 0px 34px 6px #e8e8e8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 85px;
    margin-bottom: 85px;
    background: white;
    .login-form-forgot {
      float: right;
      text-decoration: underline;
    }
    .login-form-button {
      width: 100%;
    }
    h1 {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      text-align: center;
      @include bold;
      font-size: dynamicfont(20, 22);
      color: white;
      padding: 25px;
      background-image: linear-gradient(to right, #fec20e, #faa819);
    }
    .input-wrapper {
      padding: 45px;
      .policy-span {
        @include regular;
        color: #969696;
        font-size: dynamicfont(10, 12);
      }
      .policy-href {
        @include regular;
        color: #969696;
        font-size: dynamicfont(10, 12);
        text-decoration: underline;
      }
      .login-with-help {
        margin-top: 45px;
        @include regular;
        font-size: dynamicfont(12, 14);
        color: #4c4c4c;
        text-align: center;
      }
      .no-account {
        margin-top: 45px;
        text-align: center;
        span {
          color: #4c4c4c;
          font-size: dynamicfont(12, 14);
          @include regular;
        }
        a {
          font-size: dynamicfont(12, 14);
          @include regular;
          text-decoration: underline;
        }
      }
    }
  }
  .shadow-login {
    width: 92%;
    height: 100px;
    background: #ffffff;
    position: absolute;
    z-index: -1;
    bottom: 8%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
    /* box-shadow: -1px 2px black; */
    box-shadow: 0px 0px 8px 0px #b9abab;
  }
}

//SIGN IN

#signin {
  background: url("../images/signinbg.png");
  background-repeat: no-repeat;
  background-size: cover;

  .signin-wrapper {
    // box-shadow: 0px 0px 34px 6px #e8e8e8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 85px;
    margin-bottom: 85px;
    background: white;
    .signin-form-forgot {
      // float: right;
      text-decoration: underline;
    }
    .signin-form-button {
      width: 100%;
    }
    h1 {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      text-align: center;
      @include bold;
      font-size: dynamicfont(20, 22);
      color: white;
      padding: 25px;
      background-image: linear-gradient(to right, #70b822, #6ca232);
    }
    .input-wrapper {
      padding: 40px;
      .policy-span {
        @include regular;
        color: #969696;
        font-size: dynamicfont(10, 12);
      }
      .policy-href {
        @include regular;
        color: #969696;
        font-size: dynamicfont(10, 12);
        text-decoration: underline;
      }
      .signin-with-help {
        margin-top: 45px;
        @include regular;
        font-size: dynamicfont(12, 14);
        color: #4c4c4c;
        text-align: center;
      }
      .no-account {
        margin-top: 45px;
        text-align: center;
        line-height: 1.3;
        span {
          color: #4c4c4c;
          font-size: dynamicfont(12, 14);
          @include regular;
        }
        a {
          font-size: dynamicfont(12, 14);
          @include regular;
          text-decoration: underline;
        }
      }
    }
  }
  .shadow-signin {
    width: 92%;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: -1;
    bottom: 8%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
    /* box-shadow: -1px 2px black; */
    // box-shadow: 0px 0px 8px 0px #b9abab;
  }
}

//HOME CAROUSEL

#homecarousel {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  height: 801px;
  max-height: 890px;
  .advertise-main {
    width: 72%;
    float: left;
    .ant-carousel .slick-dots {
      display: flex !important;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 18%;
    }
    .ant-carousel .slick-dots-bottom {
      bottom: 40px;
    }
    .ant-carousel .slick-dots li.slick-active button {
      background: #fff;
      opacity: 1;
      height: 14px;
      width: 14px;
      border-radius: 22px;
      border: 3px solid rgba(255, 0, 0, 0.2);
    }
    .ant-carousel .slick-dots li button {
      border-radius: 8px;
      height: 6px;
      width: 6px;
    }
    .down-promotion {
      margin-top: 2px;
      .crowd-container {
        width: 100%;
        padding: 4px;
        margin-top: 4px;
        background-color: #fff;
        .crowd-img {
          overflow: hidden;
          height: 122px;
          border-radius: 4px;
          position: relative;
        }
        .crowd-note {
          text-align: center;
          margin-top: -6px;
          position: relative;
          .crowd-price {
            display: inline-block;
            background-color: #ff4747;
            border-radius: 9px;
            font-size: 12px;
            padding: 1px 8px;
            color: #fff;
            font-weight: 900;
            font-style: italic;
          }
        }
        .crowd-title {
          padding-top: 5px;
          text-align: center;
          color: #000;
          font-weight: 900;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }
    }
  }
  .fb-part {
    width: 230px;
    float: right;
  }
}

//TOP CATEGORIES

#topcategories {
  position: absolute;
  top: -40px;
  left: 0;
  width: 240px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  .categories-main {
    border: none;
    background-color: transparent;
    width: 240px;
    // border: 1px solid #e9e9e9;
    // background-color: #fff;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;

    .categories-content-title {
      border-bottom: none;
      height: 40px;
      line-height: 40px;
      padding-left: 17px;
      font-size: 14px;
      background-color: #f9f9f9;
      position: relative;
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: #333;

      a {
        display: flex;
        align-items: center;
        color: #000 !important;
        span {
          padding-left: 11px;
        }
      }
    }
    .categories-list-box {
      position: relative;

      .cl-item {
        margin: 0;
        &:first-child {
          .cate-name {
            span {
              height: 43px;
              padding-top: 5px;
              &:before {
                top: 10px;
              }
            }
          }
        }
        &:last-child {
          .cate-name {
            span {
              height: 46px;
              margin-bottom: 2px;
              padding-bottom: 4px;
            }
          }
        }
        .cate-name {
          position: relative;
          span {
            padding-left: 40px;
            height: 35px;
            line-height: 35px;
            border-color: transparent;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            word-break: break-all;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #fff;
            border-right: 0 none;
            -webkit-tap-highlight-color: transparent;
            position: relative;
            a {
              color: #333;
              text-decoration: none;
            }

            &:before {
              display: block;
              position: absolute;
              left: 10px;
              top: 2px;
              top: 5px;
              content: " ";
              width: 24px;
              height: 24px;
              vertical-align: top;
              //overall
              background-image: url("../images/express.png");
              background-position: 0 -3780px;
              background-repeat: no-repeat;
            }
          }
        }
        .sub-cate {
          display: none;
          position: absolute;
          top: -1px;
          left: 238px;
          margin-left: 0;
          background-color: #fff;
          border: 1px solid #e9e9e9;
          z-index: 99;

          top: 0;
          border-color: transparent;
          border-radius: 8px;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
        }
      }
      .cl-item-unfold {
        .cate-name {
          span {
            border-color: #e9e9e9;
            margin-left: -2px;
            padding-left: 41px;
            width: 240px;
            z-index: 100;
          }
        }
        .sub-cate {
          min-height: 472px;
          display: block;
          border-color: transparent;
          border-radius: 8px;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
          .sub-cate-main {
            position: relative;
            width: auto;
            padding: 5px 0 10px 20px;
            white-space: nowrap;
            overflow: hidden;
            a {
              color: #333;
              &:hover {
                color: #f60;
                text-decoration: underline;
              }
            }
            .sub-cate-content {
              display: inline-block;
              .sub-cate-row {
                display: inline-block;
                vertical-align: top;
                padding-right: 20px;
                width: 234px;
                .sub-cate-items {
                  display: block;
                  margin-bottom: 5px;
                  vertical-align: top;
                  padding-right: 20px;
                  width: 234px;
                  dt {
                    border-bottom: 1px solid transparent;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    line-height: 35px;
                    height: 35px;
                    a {
                      max-width: 190px;
                      display: inline-block;
                      text-overflow: ellipsis;
                      word-wrap: normal;
                      white-space: nowrap;
                      overflow: hidden;
                      @include bold;
                    }
                  }
                  dd {
                    a {
                      max-width: 190px;
                      display: block;
                      text-overflow: ellipsis;
                      word-wrap: normal;
                      white-space: nowrap;
                      overflow: hidden;
                      line-height: 26px;
                      @include regular;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//CATEGORIES AND SLIDER

#categoriesandslider {
  background: #fff;
  .container {
    position: relative;
    padding: 30px 20px;
  }
  .under-cont {
    position: relative;
    padding-left: 256px;
    padding-top: 16px;
    z-index: 3;
  }
}

//TOP SEARCH

#topsearch {
  .search-part {
    .recentSearch {
      line-height: 23px;
      margin: 0px;
      padding-left: 13px;
      padding-top: 13px;
      color: $countnumber;
      font-size: dynamicfont(12, 14);
      @include regular;
    }
  }
}

//ANT MENU

.ant-menu {
  font-size: dynamicfont(12, 14);
}
.ant-menu-item,
.ant-menu-submenu-title {
  padding: 0 5px;
}

//DROPDOWN CONTAINER

.dropdown-container {
  background: #fff;
  width: 261px;
  padding: 16px;
  h2 {
    display: block;
    color: #666;
    font-size: dynamicfont(12, 14);
    color: #000;
    @include bold;
  }
  .switch-cur {
    padding: 16px 0 0px 0;
  }
  .switch-btn {
    margin-top: 15px;
    width: 100%;
  }
  .log-text {
    display: block;
    color: #666;
    font-size: dynamicfont(12, 14);
    color: #000;
    @include regular;
  }
  .signin-btn {
    width: 50%;
    button {
      width: 49%;
    }
  }
  .signup-btn {
    width: 50%;
    button {
      width: 49%;
    }
  }
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

//LOG WRAPPER

.log-wrapper {
  padding: 5px 12px;
  .log-text {
    display: block;
    color: #666;
    font-size: dynamicfont(12, 14);
    color: #000;
    @include regular;
    margin: 0px;
    margin-left: 5px;
  }
}

//ADD NEWS

#addnews {
  .makenarrow {
    width: 80%;
    h2 {
      @include demi;
      font-size: dynamicfont(13, 15);
      padding-bottom: 40px;
    }
    padding-bottom: 50px;
  }
}

//HEADER TEXT

.header-text {
  @include bold;
  font-size: dynamicfont(26, 28);
  padding: 30px 0 30px 0;
}

//SIDEBAR

#sidebar-content {
  .user-section {
    padding-bottom: 35px;
    .auth-section {
      padding-top: 25px;
      span {
        @include medium;
        color: $parentcolor;
        font-size: dynamicfont(20, 22);
      }
    }
    .edit-link {
      @include regular;
      font-size: dynamicfont(12, 14);
      color: $subcategory;
    }
  }
}

//FB BUTTON

.facebook-button {
  button {
    background: #3b5998;
    color: white;
    font-size: dynamicfont(16, 18);
    text-transform: capitalize;
    @include regular;
  }
}

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

// ACTIVE ADS

// VIP
#activeads {
  #activeads-top {
    background: url("../images/strap.png");
    background-size: cover;
    .activeads-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      h1 {
        font-size: dynamicfont(24, 28);
        margin: 0px;
        padding: 20px;
        color: white;
        text-align: center;
        @include bold;
      }
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -19px;
      }
      a {
        color: #e3b8ee;
        font-size: dynamicfont(13, 15);
        @include regular;
      }
    }
  }
  .activeads-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    .each {
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .img-part {
        position: relative;
        .activeads-face {
          @include coverFaceWithSpanThree;
        }
      }
      h1 {
        margin: 0px;
        @include bold;
        font-size: dynamicfont(18, 20);
        color: $parentcolor;
      }
      p {
        margin: 0px;
        @include regular;
        font-size: dynamicfont(15, 17);
        color: $parentcolor;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .info-part {
        padding: 18px;
      }
    }
    button {
      color: $showmore;
      border-color: $showmore;
      padding: {
        left: 53px;
        right: 53px;
      }
      @include demi;
      font-size: dynamicfont(14, 16);
    }
  }
}

//TAB MARGINS

.tab-margins {
  margin-top: 50px;
  margin-bottom: 50px;
}

#accountwallet {
  .ttcard {
    position: relative;
    .ttcardimg {
      width: 100%;
      border-radius: 20px;
    }
    .ttcardinfo {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      color: white;
      flex-direction: column;
      .card-img-container {
        align-self: flex-start;
        margin: auto 0;
        justify-self: end;
        margin-top: 0;
        padding: 23px;
      }
      p {
        font-size: dynamicfont(20, 22);
        padding-left: 23px;
      }
      h1 {
        font-size: dynamicfont(20, 22);
        padding-left: 23px;
        @include bold;
        color: white;
      }
      h2 {
        font-size: dynamicfont(20, 22);
        padding-left: 23px;
        color: white;
      }
    }
  }
}
#boostad {
  #boostcarouseltype {
    margin-bottom: 100px;
    .one {
      .tariff-title {
        background: #7bdce2;
      }
    }
    .two {
      .tariff-title {
        background: $green;
      }
    }
    .three {
      .tariff-title {
        background: $warning;
      }
      button {
        background: $warning;
      }
    }

    .title {
      @include bold;
      font-size: dynamicfont(20, 28);
      color: $parentcolor;
      margin: {
        top: 75px;
        bottom: 60px;
      }
      text-align: center;
    }
    .tariff-info {
      border-radius: 6px;
      box-shadow: 4px 6px 15px 7px #ececec;
      .tariff-title {
        text-align: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 23px 0px;
        p {
          color: white;
          font-size: dynamicfont(9, 11);
          @include regular;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin-bottom: 0px;
        }
        h2 {
          font-size: dynamicfont(16, 18);
          @include bold;
          color: white;
        }
      }
      .tariff-rest {
        .img-part {
          margin-right: 35px;
        }
        .info-part {
          h1 {
            font-size: dynamicfont(13, 15);
            @include regular;
            color: $subcategory;
          }
        }
        padding: 25px;
      }
      .tariff-btn {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 15px;
      }
    }
  }
}
.new-line {
  white-space: pre-line;
}
.detailscarousel {
  .slick-slide {
    text-align: center;
    height: 500px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
}
#mainlist {
  .ant-list-item-main {
    order: 2;
    margin-left: 40px;
  }
  .ant-list-item-extra {
    order: 1;
    margin-left: 0px;
    .listExtra {
      width: 150px;
      height: 130px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.img-item-container {
  width: 100%;
  height: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.vip-head-loading {
  @include img-loading;
}

.global-search-item {
  display: flex;
  .global-search-item-desc {
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    .search-word {
      color: $footerbg;
    }
    .from-to {
      color: $subcategory;
    }
    .from-category {
      @include bold;
      color: $subcategory;
    }
  }
  .global-search-item-count {
    flex: none;
  }
}

#floatingcategories.x-categories-view {
  .x-categories-view__table {
    position: relative;
    z-index: 2;
    display: table;
    width: 100%;
    table-layout: fixed;
    direction: rtl;
    // This is for right content
    .x-categories-view__content-holder {
      position: relative;
      z-index: -1;
      display: table-cell;
      vertical-align: top;
      direction: ltr;

      .x-categories-view__content {
        position: relative;
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-bottom: 10px;

        .x-categories-view__slider-holder {
          display: table-cell;
          width: 100%;
          box-sizing: border-box;
          padding: 10px;
          background: linear-gradient(135deg, #4854a2, #772088);
          vertical-align: middle;

          .x-slider {
            position: relative;
            overflow: hidden;
          }
        }
      }

      span {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
      }

      .x-anti-fear {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px;
        border: 1px solid #dfe1f0;
        list-style: none;
        .x-anti-fear__item {
          text-align: left;
          .x-anti-fear__item-content {
            display: flex;
            align-items: center;
            color: inherit;
            .x-anti-fear__icon-holder {
              display: block;
              width: 40px;
              font-size: 0;
              .x-anti-fear__icon {
                height: 30px;
                width: 30px;
                fill: #000;
              }
            }
            .x-anti-fear__title {
              display: block;
              margin-bottom: 5px;
              max-width: 170px;
              font-weight: 700;
            }
          }
        }

        .x-anti-fear__item + .x-anti-fear__item {
          padding-left: 20px;
          border-left: 1px solid #dfe1f0;
        }
      }
    }
    // This is for menu
    .x-categories-view__menu-holder {
      display: table-cell;
      width: 240px;
      vertical-align: top;
      direction: ltr;
      ul,
      li,
      span,
      div {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
      }

      .x-categories-menu {
        .portalCategoriesMenu__stateStatic--3oxxu {
          .portalCategoriesMenu__list--1Nfz6 {
            overflow: auto;
            // max-height: 530px;
            width: 430px;
            list-style: none;
          }
          .portalCategoriesMenu__listTypeFake--3JlQn {
            background: rgba(255, 255, 255, 0.1);
            position: relative;
            width: auto;
            // height: 480px;
            // overflow: hidden;

            .portalCategoriesMenu__item--13TAa {
              width: auto;
            }
            .portalCategoriesMenu__link--2I1GQ {
              border-right-width: 10px;

              .portalCategoriesMenu__arrowHolder--3cLQr {
                display: table-cell;
                width: 20px;
                vertical-align: middle;
                text-align: right;

                .portalCategoriesMenu__arrow--jqd9p {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  vertical-align: middle;
                  fill: currentColor;
                }
              }
            }
            // &:after {
            //   position: absolute;
            //   right: 0;
            //   bottom: 0;
            //   left: 0;
            //   height: 40px;
            //   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
            //   content: "";
            // }
          }
          .portalCategoriesMenu__item--13TAa {
            width: 310px;
            box-sizing: border-box;
          }
          .portalCategoriesMenu__link--2I1GQ {
            display: table;
            width: 100%;
            height: 40px;
            border-style: solid;
            border-color: transparent;
            border-width: 0 20px 0 10px;
            box-sizing: border-box;
            table-layout: fixed;
            color: #333;
            line-height: 1.3;
          }
          .portalCategoriesMenu__title--2sUdr {
            display: table-cell;
            vertical-align: middle;
            font-family: inherit;
          }

          .webIcons {
            display: table-cell;
            width: 26px;
            vertical-align: middle;
            svg {
              display: inline-block;
              width: 16px;
              height: 16px;
              vertical-align: middle;
              fill: #4953a1;
            }
          }

          //floating menu
          .floatingmenu {
            .portalCategoriesMenu__overlay--1HRbA {
              position: fixed;
              z-index: -1;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: rgba(223, 225, 240, 0.5);
            }

            .portalCategoriesMenu__wrapper--ub8rf {
              position: absolute;
              left: -10px;
              right: -10px;
              top: 100%;
              height: 0;
              margin-top: 10px;
              z-index: 2;

              .portalCategoriesMenu__tableHolder--7dPE7 {
                position: relative;
                float: left;

                .portalCategoriesMenu__table--v5p3b {
                  position: relative;
                  display: table;
                  table-layout: fixed;
                  background: #fff;
                  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);

                  .portalCategoriesMenu__column--f_Zf6 {
                    position: relative;
                    display: table-cell;
                    width: 320px;
                    padding: 10px;
                    box-sizing: border-box;
                    vertical-align: top;
                    z-index: 1;

                    &:first-child {
                      width: 240px;
                      .portalCategoriesMenu__columnContent--8Yr5n {
                        width: 250px;
                        .portalCategoriesMenu__item--13TAa {
                          width: 250px !important;
                        }
                      }
                    }
                    &::before {
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      border-left: 1px solid #dfe1f0;
                      content: "";
                    }
                    .portalCategoriesMenu__columnContent--8Yr5n {
                      overflow: hidden;
                      width: 310px;
                      margin-right: -10px;
                      .portalCategoriesMenu__list--1Nfz6 {
                        overflow: auto;
                        // max-height: 530px;
                        width: 430px;
                        list-style: none;
                        // &:first-child {
                        //   .portalCategoriesMenu__item--13TAa {
                        //     width: 250px;
                        //   }
                        // }
                        .portalCategoriesMenu__item--13TAa {
                          width: 310px;
                          box-sizing: border-box;

                          .portalCategoriesMenu__link--2I1GQ {
                            border-right-width: 10px;
                            display: table;
                            width: 100%;
                            height: 40px;
                            border-style: solid;
                            border-color: transparent;
                            border-width: 0 20px 0 10px;
                            box-sizing: border-box;
                            table-layout: fixed;
                            color: #333;
                            line-height: 1.3;

                            .portalCategoriesMenu__title--2sUdr {
                              display: table-cell;
                              vertical-align: middle;
                              font-family: inherit;
                            }
                            .webIcons {
                              display: table-cell;
                              width: 26px;
                              vertical-align: middle;
                              svg {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                vertical-align: middle;
                                fill: #4953a1;
                              }
                            }
                            .portalCategoriesMenu__arrowHolder--3cLQr {
                              display: table-cell;
                              width: 20px;
                              vertical-align: middle;
                              text-align: right;
                              .portalCategoriesMenu__arrow--jqd9p {
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                vertical-align: middle;
                                fill: currentColor;
                              }
                            }
                          }
                        }
                      }
                      .portalCategoriesMenu__scrollButtonPositionBottom--hciZH {
                        bottom: 10px;
                      }
                      .portalCategoriesMenu__scrollButton--3rtih {
                        position: absolute;
                        left: 10px;
                        right: 10px;
                        background: #f6f8fd;
                        text-align: center;
                        color: #8646aa;
                        font-size: 0;
                        font-family: inherit;
                        &::before {
                          display: inline-block;
                          vertical-align: middle;
                          height: 40px;
                          content: "";
                        }
                        &::after {
                          position: absolute;
                          top: 0;
                          bottom: 0;
                          left: 100%;
                          width: 10px;
                          background: #fff;
                          cursor: default;
                          content: "";
                        }
                      }
                      .portalCategoriesMenu__scrollIcon--Spvyz {
                        display: inline-block;
                        vertical-align: middle;
                        width: 10px;
                        height: 10px;
                        fill: currentColor;
                      }
                    }
                  }
                }
              }
            }

            .portalCategoriesMenu__wrapper--ub8rf {
              z-index: 1;
              top: 0;
              margin-top: -10px;
            }
            .portalCategoriesMenu__linkStateActive--2x_OG {
              background: #8646aa;
              color: #fff;
              span {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
