@import "helpers/mixins.scss";
@import "helpers/responsive.scss";
@import "helpers/variables.scss";

body {
  background: white;
}

// CATEGORIES
#categories {
  padding-top: 70px;
  padding-bottom: 120px;

  .padding-bottom {
    padding-bottom: 60px;
  }

  .parent-category {
    a {
      font-size: dynamicfont(16, 18);
      color: $parentcolor;
      padding-left: 20px;
    }
    padding-bottom: 25px;
  }

  .sub-categories {
    ul {
      padding: 0px;
      list-style: none;
      li {
        &:first-child {
          padding-top: 0px;
        }
        padding-top: 10px;
        a {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            display: inline-block;
            width: 16px;
            content: "+";
            color: $maincolor;
          }
        }
        .active {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            display: inline-block;
            width: 16px;
            content: "‒";
            color: $maincolor;
            @include bold;
          }
        }
        span {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $countnumber;
          padding-left: 5px;
        }
      }
    }

    .sub-sub-categories {
      padding-left: 40px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      li {
        padding-top: 10px;
        list-style: none;
        a {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            content: "";
            width: 0px;
          }
        }
        span {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $countnumber;
          padding-left: 5px;
        }
      }
    }
  }
}

// VIP
#vip {
  #vip-top {
    background: url("../images/strap.png");
    background-size: cover;
    .vip-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      h1 {
        font-size: dynamicfont(24, 28);
        margin: 0px;
        padding: 20px;
        color: white;
        text-align: center;
        @include bold;
      }
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -19px;
      }
      a {
        color: #e3b8ee;
        font-size: dynamicfont(13, 15);
        @include regular;
      }
    }
  }
  .vip-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    .each {
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .img-part {
        position: relative;
        .vip-face {
          @include coverFaceWithSpan;
        }
      }
      h1 {
        margin: 0px;
        @include bold;
        font-size: dynamicfont(18, 20);
        color: $parentcolor;
      }
      p {
        margin: 0px;
        @include regular;
        font-size: dynamicfont(15, 17);
        color: $parentcolor;
      }
      .info-part {
        padding: 18px;
      }
    }
    button {
      color: $showmore;
      border-color: $showmore;
      padding: {
        left: 53px;
        right: 53px;
      }
      @include demi;
      font-size: dynamicfont(14, 16);
    }
  }
}

//TOP-VENDORS

#top-vendors {
  .top-vendor-top {
    background: url("../images/yellow.png");
    background-size: cover;
    .top-vendor-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      h1 {
        font-size: dynamicfont(24, 28);
        margin: 0px;
        padding: 20px;
        color: white;
        text-align: center;
        @include bold;
      }
      a {
        color: #e3b8ee;
        font-size: dynamicfont(13, 15);
        @include regular;
      }
    }
  }

  .top-vendor-grid {
    margin-top: 50px;
    margin-bottom: 80px;
    .each {
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .img-part {
        position: relative;
        .vip-face {
          @include coverFace;
        }
      }
      h1 {
        margin: 0px;
        @include bold;
        font-size: dynamicfont(18, 20);
        color: $parentcolor;
      }
      p {
        margin: 0px;
        @include regular;
        font-size: dynamicfont(15, 17);
        color: $parentcolor;
      }
      .info-part {
        padding: 18px;
      }
    }
    button {
      color: $showmore;
      border-color: $showmore;
      padding: {
        left: 53px;
        right: 53px;
      }
      @include demi;
      font-size: dynamicfont(14, 16);
    }
  }
}

#infosection {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
  background: #f8f8f8;
  .img-container {
    height: 85px;
  }
  h1 {
    margin-bottom: 18px;
    font-size: dynamicfont(16, 18);
    @include demi;
    color: $parentcolor;
  }
  p {
    font-size: dynamicfont(13, 15);
    @include regular;
    color: $parentcolor;
  }
}

#getphone{
  
  padding-top: 35px;
  h1{
    font-size: dynamicfont(18, 20);
    color: $parentcolor;
    @include bold;
  }
}

footer {
  padding-top: 42px!important;
  padding-bottom: 60px!important;
  background: $footerbg!important;
  p{
    color: #7e7f88;
    font-size: dynamicfont(14, 16);
    @include regular;
    
    &:nth-of-type(1){
      margin-top: 24px;
    }
    margin-bottom: 0px;
  }
  h5 {
    font-size: dynamicfont(14, 16);
    @include bold;
    color: #7e7f88;
    margin-bottom: 30px;
  }
  ul {
    padding: 0px;
    list-style: none;
    li {
      a {
        font-size: dynamicfont(13, 15);
        @include regular;
        color: #7e7f88;
      }
      margin-bottom: 12px;
    }
  }
}
#contentbanner{
  background: url("../images/banner_tariffs.png");
  background-repeat: no-repeat;
  background-size: auto;
}