@import "helpers/mixins.scss";
@import "helpers/responsive.scss";
@import "helpers/variables.scss";

body {
  background: white;
}

.ant-input-suffix{
  display: flex;
  align-items: center
}

// CATEGORIES
#categories {
  padding-top: 70px;
  padding-bottom: 120px;

  .padding-bottom {
    padding-bottom: 60px;
  }

  .parent-category {
    a {
      font-size: dynamicfont(16, 18);
      color: $parentcolor;
      padding-left: 20px;
    }
    padding-bottom: 25px;
  }

  .sub-categories {
    ul {
      padding: 0px;
      list-style: none;
      li {
        &:first-child {
          padding-top: 0px;
        }
        padding-top: 10px;
        a {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            display: inline-block;
            width: 16px;
            content: "+";
            color: $maincolor;
          }
        }
        .active {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            display: inline-block;
            width: 16px;
            content: "‒";
            color: $maincolor;
            @include bold;
          }
        }
        span {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $countnumber;
          padding-left: 5px;
        }
      }
    }

    .sub-sub-categories {
      padding-left: 40px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      li {
        padding-top: 10px;
        list-style: none;
        a {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $subcategory;
          &:before {
            content: "";
            width: 0px;
          }
        }
        span {
          @include regular;
          font-size: dynamicfont(14, 16);
          color: $countnumber;
          padding-left: 5px;
        }
      }
    }
  }
}

// VIP
#vip {
  #vip-top {
    background: url("../images/strap.png");
    background-size: cover;
    .vip-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      h1 {
        font-size: dynamicfont(24, 28);
        margin: 0px;
        padding: 20px;
        color: white;
        text-align: center;
        @include bold;
      }
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -19px;
      }
      a {
        color: #e3b8ee;
        font-size: dynamicfont(13, 15);
        @include regular;
      }
    }
  }
  .vip-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    .each {
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .img-part {
        position: relative;
        .vip-face {
          @include coverFaceWithSpan;
        }
      }
      h1 {
        margin: 0px;
        @include bold;
        font-size: dynamicfont(18, 20);
        color: $parentcolor;
      }
      p {
        margin: 0px;
        @include regular;
        font-size: dynamicfont(15, 17);
        color: $parentcolor;
      }
      .info-part {
        padding: 18px;
      }
    }
    button {
      color: $showmore;
      border-color: $showmore;
      padding: {
        left: 53px;
        right: 53px;
      }
      @include demi;
      font-size: dynamicfont(14, 16);
    }
  }
}

//TOP-VENDORS

#top-vendors {
  .top-vendor-top {
    background: url("../images/yellow.png");
    background-size: cover;
    .top-vendor-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      h1 {
        font-size: dynamicfont(24, 28);
        margin: 0px;
        padding: 20px;
        color: white;
        text-align: center;
        @include bold;
      }
      a {
        color: #e3b8ee;
        font-size: dynamicfont(13, 15);
        @include regular;
      }
    }
  }

  .top-vendor-grid {
    margin-top: 50px;
    margin-bottom: 80px;
    .each {
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .img-part {
        position: relative;
        .vip-face {
          @include coverFace;
        }
      }
      h1 {
        margin: 0px;
        @include bold;
        font-size: dynamicfont(18, 20);
        color: $parentcolor;
      }
      p {
        margin: 0px;
        @include regular;
        font-size: dynamicfont(15, 17);
        color: $parentcolor;
      }
      .info-part {
        padding: 18px;
      }
    }
    button {
      color: $showmore;
      border-color: $showmore;
      padding: {
        left: 53px;
        right: 53px;
      }
      @include demi;
      font-size: dynamicfont(14, 16);
    }
  }
}

#infosection {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
  background: #f8f8f8;
  .img-container {
    height: 85px;
  }
  h1 {
    margin-bottom: 18px;
    font-size: dynamicfont(16, 18);
    @include demi;
    color: $parentcolor;
  }
  p {
    font-size: dynamicfont(13, 15);
    @include regular;
    color: $parentcolor;
  }
}

#getphone {
  padding-top: 35px;
  h1 {
    font-size: dynamicfont(18, 20);
    color: $parentcolor;
    @include bold;
  }
}
//FOOTER
footer {
  padding-top: 42px !important;
  padding-bottom: 60px !important;
  background: $footerbg !important;
  p {
    color: #7e7f88;
    font-size: dynamicfont(14, 16);
    @include regular;

    &:nth-of-type(1) {
      margin-top: 24px;
    }
    margin-bottom: 0px;
  }
  h5 {
    font-size: dynamicfont(14, 16);
    @include bold;
    color: #7e7f88;
    margin-bottom: 30px;
  }
  ul {
    padding: 0px;
    list-style: none;
    li {
      a {
        font-size: dynamicfont(13, 15);
        @include regular;
        color: #7e7f88;
      }
      margin-bottom: 12px;
    }
  }
}

#tariffs {
  #contentbanner {
    background: url("../images/banner_tariffs.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      @include bold;
      font-size: dynamicfont(36, 44);
      color: white;
      padding-top: 100px;
      padding-bottom: 60px;
    }
    p {
      @include regular;
      font-size: dynamicfont(14, 16);
      color: white;
      padding-bottom: 35px;
    }
    button {
      @include bold;
      margin-bottom: 70px;
      font-size: dynamicfont(13, 15);
      // background: linear-gradient(to right, #fbad18, #f8991d);
    }
  }
  #carouseltype {
    margin-bottom: 100px;
    .one {
      .tariff-title {
        background: #7bdce2;
      }
    }
    .two {
      .tariff-title {
        background: $green;
      }
    }
    .three {
      .tariff-title {
        background: $warning;
      }
      button {
        background: $warning;
      }
    }

    .title {
      @include bold;
      font-size: dynamicfont(20, 28);
      color: $parentcolor;
      margin: {
        top: 75px;
        bottom: 60px;
      }
      text-align: center;
    }
    .tariff-info {
      border-radius: 6px;
      box-shadow: 4px 6px 15px 7px #ececec;
      .tariff-title {
        text-align: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 23px 0px;
        p {
          color: white;
          font-size: dynamicfont(9, 11);
          @include regular;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin-bottom: 0px;
        }
        h2 {
          font-size: dynamicfont(16, 18);
          @include bold;
          color: white;
        }
      }
      .tariff-rest {
        .img-part {
          margin-right: 35px;
        }
        .info-part {
          h1 {
            font-size: dynamicfont(13, 15);
            @include regular;
            color: $subcategory;
          }
        }
        padding: 25px;
      }
      .tariff-btn {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 15px;
      }
    }
  }
  #howworks {
    .top-up, .top-ad, .vip-ad {
      background: #f0f9fd;
      .title {
        text-align: center;
        h1 {
          margin-top: 80px;
          margin-bottom: 110px;
          font-size: dynamicfont(25, 28);
          color: $parentcolor;
          @include bold;
          text-align: center;
          display: inline-block;
        }
      }
      .img-side{
        img{
          margin-bottom: -133px;
          width: 100%;
        }
      }
      .text-side{
        h2{
          @include demi;
          font-size: dynamicfont(17, 20);
          color: $primary;
        }
        p{
          font-size: dynamicfont(12, 15);
          color: $parentcolor;
          @include regular;
        }
        button{
          margin-top: 30px;
          @include regular;
        }
      }
    }
    .top-ad{
      background: white;
      img{
        margin-bottom: 0px!important;
      }
      .text-side{
        padding-left: 90px;
      }
    }
    .vip-ad{
      background: #f0f9fd;
      margin-bottom: 160px;
    }
  }
}

#search{
  
  background: url("../images/longback.png");
  background-repeat: no-repeat;
  background-size: cover;
  .search-part{
    padding-top: 135px;
  }
  .bottom-part{
    margin-top: 15px;
    p{
      font-size: dynamicfont(10, 12);
      color: white;
      @include regular;
    }
    h1{
      font-size: dynamicfont(12, 15);
      margin-bottom: 0px;
      color: white;
      @include regular;
    }
    button{
      padding-left: 50px;
      padding-right: 50px;
    }
    padding-bottom: 100px;
  }
}