@mixin demiitalic {
  font: {
    family: "Avenir Next Cyr";
    weight: bold;
    style: italic;
  }
}

@mixin thin {
  font: {
    family: "Avenir Next Cyr";
    weight: 100;
    style: normal;
  }
}

@mixin demiitalic {
  font: {
    family: "Avenir Next Cyr";
    weight: bold;
    style: italic;
  }
}

@mixin mediumitalic {
  font: {
    family: "Avenir Next Cyr";
    weight: 500;
    style: italic;
  }
}

@mixin ultralight {
  font: {
    family: "Avenir Next Cyr";
    weight: 200;
    style: normal;
  }
}

@mixin light {
  font: {
    family: "Avenir Next Cyr";
    weight: 300;
    style: normal;
  }
}

@mixin bold {
  font: {
    family: "Avenir Next Cyr";
    weight: bold;
    style: normal;
  }
}

@mixin lightitalic {
  font: {
    family: "Avenir Next Cyr";
    weight: 300;
    style: italic;
  }
}

@mixin bolditalic {
  font: {
    family: "Avenir Next Cyr";
    weight: bold;
    style: italic;
  }
}

@mixin ultralightit {
  font: {
    family: "Avenir Next Cyr";
    weight: 200;
    style: italic;
  }
}

@mixin heavy {
  font: {
    family: "Avenir Next Cyr";
    weight: 900;
    style: normal;
  }
}

@mixin demi {
  font: {
    family: "Avenir Next Cyr";
    weight: bold;
    style: normal;
  }
}

@mixin regular {
  font: {
    family: "Avenir Next Cyr";
    weight: normal;
    style: normal;
  }
}

@mixin medium {
  font: {
    family: "Avenir Next Cyr";
    weight: 500;
    style: normal;
  }
}

@mixin heavyitalic {
  font: {
    family: "Avenir Next Cyr";
    weight: 900;
    style: italic;
  }
}

@mixin italic {
  font: {
    family: "Avenir Next Cyr";
    weight: normal;
    style: italic;
  }
}

@mixin thinitalic {
  font: {
    family: "Avenir Next Cyr";
    weight: 100;
    style: italic;
  }
}

@mixin coverFaceWithSpan {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
    &:hover {
      background-color: rgba(121, 37, 142, 0.8);
    }
    span {
      border-radius: 32px;
      position: absolute;
      @include bold;
      font-size: dynamicfont(13, 15);
      color: white;
      background: linear-gradient(to right, #543f92, #8f2b9f);
      margin: 14px;
      padding: 1px 12px;
    }
    i {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 15px;
      font-size: dynamicfont(15, 17);
      color: white;
      &:hover {
        color: #ff1d1d;
      }
    }
}
@mixin coverFace {
  
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
  &:hover {
    background-color: rgba(121, 37, 142, 0.8);
  }
  i {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
    font-size: dynamicfont(15, 17);
    color: white;
    &:hover {
      color: #ff1d1d;
    }
  }
}