@function dynamicfont($min, $max){
    @return calc(#{$min + "px"} + (#{$max} - #{$min}) * ((100vw - 320px) / (1920 - 320)));
  }
  
.container {
  max-width: 1140px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}


.d-inline-block {
  display: inline-block;
}
.d-flex-horizontal {
  display: flex;
  justify-content: center;
}
.d-flex-vertical {
  display: flex;
  align-items: center;
}
.d-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-flex-space-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.d-flex-space-evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.text-align-center{
  text-align: center;
}