$parentcolor: #393939;
$subcategory: #6e6e6e;
$countnumber: #bdbdbd;
$maincolor: #02b2e4;
$bordercolor: #ebebeb;
$showmore: #039ad3;
$footerbg: #333441;
$green: #6eac2b;
$warning: #faa21b;
$primary: #039bd3;