.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

.container{
  padding: 0 100px;
}
.d-inline-block{
  display: inline-block;
}
.d-flex-centered{
  display: flex;
  
}
/* body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
} */